#main{
  /* background-color: #c869ee; */
  margin: 0px;
 
  
}

#listi{
    width: 123vh;
    float: left;
   
}




 #App{
    background-color: #c869ee;
    height: 600px;
    max-height: 600px;
    /* max-height: auto; */
    /* padding-left: 13vh; */
    /* width:120vh; */
    margin-top: 10vh;
   overflow: scroll;
    
  }
  #in{
    background-color: #e9b7f0;
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    border-radius: 10px;
    color: #000;
  }
  #bt{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(188, 28, 228);
  }

  @media (max-width: 767.98px) { 
  
   
    #listi{
        width: 90vh;
        height: 50vh;
        margin-left: -16vh;
        margin-top: 5vh;
       
    }
  }