.list{
    color: #fff;
    width: 250px;
    margin: 30px 6vh;
    height: 50px;
    background-color: #e9b7f0;
    border-radius: 5px;
    
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
    color: #e385ee;
}
.in{
    background-color: #e9b7f0;
    border: none;
}