/* .prof {
 
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16vh;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  #i {
    border-radius: 50%;
    margin-top: 25vh;
   margin-left: 80vh;
  }
  
  #updiv {
    width: 195vh;
    margin: 0px;
    height:41vh;
    background-image: linear-gradient( #f4c4f3 0%, #fc67fa );
  }
  
  #btbt{
    background-image: linear-gradient(#2980B9 ,#6DD5FA);
    padding: 8px;
    border-radius: 40%;
    border: none;
    margin-top: 20vh;
  }
  
  
   */



   #updiv {
    /* width: 201vh; */
    width:100%;
    margin: 0px;
    height:31vh;
    background-image: linear-gradient( #f4c4f3 0%, #fc67fa );
   }

   #i {
    border-radius: 50%;
    margin-top: 15vh;
   margin-left: 65vh
   ;
  }

  #prof {
 
    width: 500px;
    margin-left: 50vh;
    margin-right: auto;
    margin-top: 13vh;
    text-align: center;
  }

  #btbt{
    background-image: linear-gradient(#2980B9 ,#6DD5FA);
    padding: 15px;
    border-radius: 25px;
    border: none;
    margin-top: 1vh;
    width: 20%;
  }

  @media (max-width: 767.98px) { 
   
    #updiv {
      /* width: 201vh; */
      width:100%;
      margin: 0px;
      height:41vh;
      background-image: linear-gradient( #f4c4f3 0%, #fc67fa );
     }
   
     #prof {
 
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16vh;
      text-align: center;
    }
    #i {
      border-radius: 50%;
      margin-top: 25vh;
     margin-left:20vh ;
     
    }
   
  }